$background-color: #78e2e6;

.loader {
  background-color: $background-color;
  padding: 30px;
  margin-bottom: 5px;

  &__form {
    display: flex;
    flex-wrap: nowrap;

    &__input {
      width: 100%;
      margin-right: 10px;
      z-index: 1;
    }

    &__button {
      z-index: 1;
    }
  }
}
