$background-color: #78e2e6;

.drop-field {
  position: fixed;
  top: 0;

  height: 100%;
  width: 100%;
  max-width: inherit;

  &--drop-enter {
    background: $background-color url('../../assets/download.svg') no-repeat;
    background-position: center;
    opacity: 0.4;
    z-index: 2;
  }
}
