.card {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &__delete-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;

    z-index: 1;
    opacity: 30%;

    &:hover {
      opacity: 100%;
    }
  }
}
